Constraints and Triggers

Select * from LandParcel;
Select * from Owner;
Select * from ParcelOwnership;
Select * from ParcelZoningHistory;
Select * from TitleTransfer;
Select * from ZoningType;

Alter table LandParcel
Add constraint default_isActive
Default 1 for is_active;

Create trigger tr_Parcel_NoDelete
on LandParcel
Instead Of DELETE
As
Begin
RAISERROR ('Physical deletion of land records is not allowed.', 16, 1);
End;

Delete from LandParcel where Parcel_id = 20;